{% extends "base.html" %}}
{% from "_form_helpers.html" import render_usdfield %}

{% block title %}
USD Invoice
{% endblock %}

{% block container %}
<div class="row">
    <div class="col-4">
        <form id="PaymentUSD" name="Pay" method="POST" action="{{ URL }}" accept-charset="UTF-8">
            {{ render_usdfield(form.amount) }}
            {{ render_usdfield(form.currency) }}
            {{ render_usdfield(form.shop_id) }}
            {{ render_usdfield(form.sign) }}
            {{ render_usdfield(form.shop_invoice_id) }}
            {{ render_usdfield(form.description) }}

            {{ form.submit(class="btn btn-primary") }}
        </form>
    </div>
</div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <!--<script>-->
        <!--$(document).ready(function () {-->
            <!--$('#submit').click();-->
        <!--});-->
    <!--</script>-->
{% endblock %}
